<%= render "shared/navbar" %>

<% provide(:title, "all exchanges") %>

<div class="row">
	<h1>My Exchanges</h1>
</div>

<div class="row">
	<table>
  <thead>
    <tr>
      <th width="200">Buying/Selling</th>
      <th>Item Tags</th>
      <th width="150">View Exchange</th>
    </tr>
  </thead>
  <tbody>
  	<% @user_exchanges.each do |ux| %>
	    <tr>
	      <td>
	      	<% if ux.buyer == current_user %>
	      		Buying
	      		<% else %>
	      		Selling
	      	<% end %>
	      </td>
	      <td><%= ux.post.tag_list %></td>
	      <td><%= link_to "view exchange", exchange_path(ux) %></td>
	    </tr>
	  <% end %>
  </tbody>
</table>
</div>