<div class='contain-to-grid'>
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <a href="<%= root_path %>">
	      <li class="name" >
	        <%= image_tag 'logo.png', width: '180'%>
	      </li>
	    </a>
	  </ul>
	</nav>
</div>