<%= render "shared/navbar" %>

<div class='row'>
	<div>
		<h1 class="large-offset-3">latest posts</h1>	
	</div>

	<div class='columns large-5 large-offset-3 post'>
		<%= image_tag 'fuji_bike.jpg'%>
		<h4>$439 
			<a href="#">#bike</a>, 
			<a href="#">#fuji</a>, 
			<a href="#">#roadbike</a>
			<br>	
			<small>1 offer // 2 comments - posted 5 minutes ago</small>
		</h4>
	</div>

	<div class='columns large-5 large-offset-3 post'>
		<%= image_tag 'cs314.jpg'%>
		<h4>$110
			<a href="#">#cs314</a>, 
			<a href="#">#textbook</a>,
			<a href="#">#usedtextbook</a>
			<br>
			<small>4 offers // 0 comments - posted 38 minutes ago</small>
		</h4>
	</div>

	<div class='large-5 post large-offset-3'>
		<%= image_tag 'ut_tickets.jpg'%>
		<h4>$130 <a href="#">#utfootball</a>, <a href="#">#section103</a><br>	<small>1 comment // 41 minutes ago</small></h4>
	</div>
</div>