	<div id="offerModal" class="reveal-modal" data-reveal>
	  <h2>Make an Offer</h2>
	  <% if offers_been_made? %>
	  	<p class="lead">Best offer is <%= number_to_currency(@post.max_offer.amount, precision: 0) %></p>
	  <% end %>
	  
	  <%= form_for [@user, @post, @offer] do |f| %>
			<%= f.text_field :amount, id: 'offerEntryField' %>
			<%= f.submit "Submit Offer" %>
		<% end %>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
</div>