<%= render "shared/navbar" %>

<% provide(:title, "latest posts") %>

<div class='row latest-posts'>
	<div>
		<h1 class="large-offset-3">latest posts</h1>	
	</div>

	<%= render partial: "post", collection: @latest_posts %>
	
</div>