<%= render "shared/navbar" %>
<div class='row'>
	<div>
		<h1>latest posts</h1>	
	</div>

	<div class='columns large-4 post'>
		<%= image_tag 'fuji_bike.jpg'%>
		<h4>5 minutes ago // <a href="#">#bike</a>, <a href="#">#fuji</a>, <a href="#">#roadbike</a></h4>
	</div>

	<div class='large-4 post'>
		<%= image_tag 'ut_tickets.jpg'%>
		<h4><a href="#">#utfootball</a>, <a href="#">#section103</a></h4>
	</div>
</div>
