// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  // @include panel($panel-color, $panel-padding);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.post {
	// width: 400px;
	margin-bottom: 30px;
} 


// form styles

#post_price {
 width: 77px;
}

#post_description {
	width: 390px;
}

// .latest-posts {
// 	background-image: -webkit-gradient(
// 	linear,
// 	left top,
// 	left bottom,
// 	color-stop(0, #CCCFFF),
// 	color-stop(1, #FF61C8)
// );
// background-image: -o-linear-gradient(bottom, #CCCFFF 0%, #FF61C8 100%);
// background-image: -moz-linear-gradient(bottom, #CCCFFF 0%, #FF61C8 100%);
// background-image: -webkit-linear-gradient(bottom, #CCCFFF 0%, #FF61C8 100%);
// background-image: -ms-linear-gradient(bottom, #CCCFFF 0%, #FF61C8 100%);
// background-image: linear-gradient(to bottom, #CCCFFF 0%, #FF61C8 100%);
// }

