// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  // @include panel($panel-color, $panel-padding);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  bottom: 0;
}

// post listings (latest,top) page ---------------------------

.post {
	// width: 400px;
	margin-bottom: 30px;
	float: left !important;
} 

// new post page ---------------------------

.new-post-header {
	margin-top: 25px;
}

			// form styles -----------------------------

#post_price {
 width: 77px;
}

#post_description {
	width: 390px;
}

// show post page ---------------------------

.show-picture {
	width: 300px;
}

.tagit-choice {
	background: #DFDFF6 !important;
	border: 1px solid #D9DBDD !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	margin-left: 6px !important;
	border-radius: 0em !important;
}
