// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tag-background-color: #D0F5D6;

footer {
  // @include panel($panel-color, $panel-padding);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  bottom: 0;
}

// post listings (latest,top) page ---------------------------

.post {
	// width: 400px;
	margin-bottom: 30px;
	float: left !important;
} 

// new post page ---------------------------

.new-post-header {
	margin-top: 25px;
}

.tagit-choice {
	background: $tag-background-color !important;
	border: 1px solid #D9DBDD !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	margin-left: 6px !important;
	border-radius: 0em !important;
}

.tagit-label {
	margin-right: 4px;
}

			// form styles -----------------------------

#post_price {
 width: 77px;
}

#post_description {
	width: 390px;
}

// show post page ---------------------------

.show-picture {
	width: 300px;
	display: block;
	margin: 0 auto;
}

.show-tags {
	display: inline-block;
	margin: 0 auto;
	border: none;

	.ui-autocomplete-input {
		display: none;
	}
}

.show-tags a li {

	padding-right: 10px !important;
	padding-left: 10px !important;

	.ui-icon {
		display:none;
		margin: 0px;
	}

	.tagit-label {
		margin: 0px;
	}
}

// comments -----------------

.comment-bubble {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  width: 400px;
  background: rgb(67, 74, 84) none repeat scroll 0% 0% / auto padding-box padding-box;
  border: 1px solid rgb(67, 74, 84);
  border-radius: 6px 6px 6px 6px;
  margin: 10px 0px 0px 10px;
  padding: 1px;
}

.arrow-left {
  box-sizing: border-box;
  left: -11px;
  position: absolute;
  text-align: left;
  top: 50%;
  width: 11px;
  border-top: 11px solid rgba(0, 0, 0, 0);
  border-right: 11px solid rgb(67, 74, 84);
  border-bottom: 11px solid rgba(0, 0, 0, 0);
  border-left: 0px solid rgba(0, 0, 0, 0);
  margin: -11px 0px 0px;
}

.arrow-left::after {
  content: ' ';
}

.comment-title {
  box-sizing: border-box;
  color: rgb(170, 178, 189);
  height: 26px;
  font: normal normal bold 14px/18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 8px 14px 0px;
}

.comment-content {
  padding: 9px 14px;
}

.comment-content p {
  color: rgb(255, 255, 255);
  font: normal normal normal 14px/20px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px 0px 10px;
}