<% provide(:title, "your tags") %>

<div class='row latest-posts'>
	<div>
		<h1 class="large-offset-3">following</h1>	
	</div>
	
	<% if @relevant_posts.nil? %>
		<p>No posts to display</p>
	<% else %>
		<%= render partial: "posts/post", collection: @relevant_posts %>
	<% end %>
	
</div>