<div class="row">
	<h1>Follow Tags</h1>

	<ul>
		<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable">#testtag</li>
		<li>#anothertest</li>
	</ul>
	<ul id="mytags"></ul>
</div>